
        #map-section {
            padding: 20px;
        }

        #map {
            height: 400px;
            width: 100%;
            border: 2px solid #ccc;
            border-radius: 8px;
        }

        #form-section {
            display: none;
            /* Oculto por defecto */
            padding: 20px;
            background: white;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form input,
        form select,
        form textarea,
        form button {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            font-size: 16px;
        }

        form button {
            background: #2e7d32;
            color: white;
            border: none;
            cursor: pointer;
        }

        