        body{
            background-color: #171C22;
            color: #fff;
        }

        #map-section {
            padding: 20px;
        }

        #map {
            height: 700px;
            width: 1000px;
            border: 2px solid #ccc;
            border-radius: 8px;
        }

        #form-section {
            display: none;
            /* Oculto por defecto */
            padding: 20px;
            background: white;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        form input,
        form select,
        form textarea,
        form button {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            font-size: 16px;
        }

        form button {
            background: #2e7d32;
            color: white;
            border: none;
            cursor: pointer;
        }

        .contenedor-central {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 500px;
            background: #5a945a;
            background: linear-gradient(90deg,rgba(90, 148, 90, 1) 0%, rgba(78, 221, 48, 1) 53%, rgba(119, 199, 62, 1) 100%);
            border-radius: 15px;
            width: 900px;
            text-align: center;
            color: #fff;
        }

        .contenedor-mapaRecap{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
        }

        .contenedor-Recap{
            display: flex;
            flex-direction: column;
        }

        .textoBienvenida {
            font-family: serif;
            font-size: 50px;
        }

        @media (max-width: 880px) {

            .contenedor-central {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 300px;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                width: 500px;
                text-align: center;
                color: #fff;
            }
        }